.dashboard-text {
    margin-bottom: 4vh;
  }
 
  .card0,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    border-radius: 10px;
    color: rgb(215, 214, 214);
    padding: 1rem;
    height: fit-content;
    display: flex;
   
    box-shadow:var(--default-box-shadow);
    align-items: center;
  }
  
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .card0 .card-lower-section,
  .card2 .card-lower-section,
  .card3 .card-lower-section,
  .card4 .card-lower-section,
  .card5 .card-lower-section,
  .card6 .card-lower-section {
    text-align: left;
    width: 80%;
    padding: 0%;
    padding-left: 8%;
    height: fit-content;
  }
  .card .card-lower-section h3,
  .card0 .card-lower-section h3,
  .card2 .card-lower-section h3,
  .card3 .card-lower-section h3,
  .card4 .card-lower-section h3,
  .card5 .card-lower-section h3,
  .card6 .card-lower-section h3 {
    line-height: 1;
    width: 100%;
    font-size: 18px;
    color: var(--background-color);
  }
  .card .card-lower-section p,
  .card0 .card-lower-section p,
  .card2 .card-lower-section p,
  .card3 .card-lower-section p,
  .card4 .card-lower-section p,
  .card5 .card-lower-section p,
  .card6 .card-lower-section p {
    width: 100%;
    font-size: 10px;
    margin: 0%;
    padding: 0%;
    margin-top: 5px;
    color: #424242;
  }
  .card0 .card-icon {
    background-color: rgba(211, 43, 226, 0.388);
    padding: 8px;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(194, 39, 255);
  }
  
  .card2 .card-icon {
    background-color: rgba(43, 83, 226, 0.388);
    padding: 8px;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(46, 81, 255);
  }
  
  .card3 .card-icon {
    background-color: rgba(85, 255, 153, 0.388);
    padding: 8px;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(59, 237, 97);
  }
  
  .card4 .card-icon {
    background-color: rgba(255, 85, 85, 0.388);
    padding: 8px;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(247, 28, 28);
  }
  
  .card5 .card-icon {
    background-color: rgba(255, 130, 85, 0.388);
    padding: 8px;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(247, 108, 28);
  }
  
  .card6 .card-icon {
    background-color: rgba(255, 212, 85, 0.388);
    padding: 8px;
    font-size: 24px;
    border-radius: 50%;
    color: rgb(247, 196, 28);
  }
  .charts-areas {
    display: flex;
    width: 100%;
    gap: 2%;
    margin-top: 20px;
  }
  .charts-areas .left-chart {
    width: 49%;
    margin: 0%;
  }
  .charts-areas .right-chart {
    width: 49%;
  }
  
  .date-input-area {
    display: flex;
  }
  
  @media screen and (max-width: 820px) {
    .dashboard-text {
      margin-bottom: 0.5vh;
    }
    .charts-areas {
      flex-direction: column;
      padding-bottom: 0%;
      margin-bottom: 0%;
    }
    .charts-areas .left-chart {
      width: 100%;
    }
    .charts-areas .right-chart {
      width: 100%;
    }
    .top-headinf-dashboard {
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
    }
    .date-input-area input {
      padding: 5px;
    }
    .cardds {
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: column;
    }
  }