

.AddTestimonial select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.AddTestimonial  input {
    width: 99%;
    padding: 5px;
    margin-bottom: 10px;
}

.AddTestimonial textarea {
    width: 99%;
    padding: 5px;
    margin-bottom: 10px;
    height: 60px; 
    resize: none; 
    line-height: 1.2; 
    overflow: hidden; 
}

.AddTestimonial h3 {
  font-size: 22px;
  margin-bottom: 15px;
}




.AddTestimonial h5{
font-size: 14px;
margin-top: 10px;
}

.upper-section{
    display: flex;

    justify-content: space-between;

}

.image-container2 {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px var(--secondary-color);
    border-style: dashed;
    overflow: hidden;
    border-radius: 12px;
   


}



@media screen and (max-width: 1080px) {

    .AddTestimonial {

        padding: 5px;
       height: auto;
    }
    
.AddTestimonial h3 {
    font-size: 18px;
}





}